<div class="header">
    <div class="header-izq">
        <h4 [routerLink]="[ '/home/productos' ]">Minimarket Plus</h4>
    </div>
    <div class="header-medio">
        <input type="text" placeholder="Buscar productos.." name="search" [(ngModel)]="search">
        <button (click)="buscarProductoByNombre()"><img src="https://image.flaticon.com/icons/png/512/1076/1076744.png" alt="" width="17px"></button>
    </div>
    <div class="header-der">
        <button [routerLink]="[ '/home/cart' ]">
            <img src="https://image.flaticon.com/icons/png/512/3144/3144456.png" alt="" width="20px">
        </button>
        <button>
            <img src="https://image.flaticon.com/icons/png/512/1077/1077063.png" alt="" width="20px">
        </button>
        <button (click)="logout()">
            <img src="https://image.flaticon.com/icons/png/512/1828/1828427.png" alt="" width="20px">
        </button>
    </div>
</div>


<div class="container">
    <div class="side-bar">
        <ul>
            <li (click)="cargarProductos()">TODOS</li>
            <li *ngFor="let categoria of categorias" (click)="productosCategoria(categoria.id)">{{categoria.nombre}}</li>
        </ul>
    </div>
    
    <div class="productos" >
        <div class="producto" *ngFor="let producto of productos" [routerLink]="[ producto.id ]">
            <div class="img-top">
                <img [src]="producto.imagen" height="150px">        
            </div>
            <div class="producto-info">
                <p>{{producto.nombre}}</p>
                <p style="font-size: 13px">{{producto.precio | currency: 'S/.'}}</p>
            </div>
            
        </div>
    
    </div>
</div>
